* {
  margin: 0px;
  padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;
}

.container home-title {
  width: 50%;
}

