<div class="container">
  <app-avatar></app-avatar>
  <p>
    Sou um carioca de 22 anos com uma paixão por videogames e tecnologia. Atualmente, trabalho como suporte técnico em uma empresa de telecomunicações, mas estou em busca de um estágio que me permita migrar para a área de desenvolvimento.
  </p>
  <p>
    Minha jornada na programação me levou a adquirir conhecimentos em linguagens como Java, Angular, HTML, CSS e JavaScript. Sou um entusiasta autodidata e estou constantemente aprimorando minhas habilidades para acompanhar as mudanças rápidas no mundo da tecnologia.
  </p>
  <p>
    Este portfólio reflete meu compromisso em ingressar na área de desenvolvimento e contribuir de forma significativa. Se você procura um estagiário motivado e apaixonado por tecnologia, estou pronto para embarcar nessa jornada com você e sua equipe. Entre em contato e vamos explorar as oportunidades juntos.
  </p>

</div>
