.container {
  background-color: #2B2C31;
  background-image: url(../assets/Blue-Smoke-Abstract-PNG-Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;

}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
    width: 1200px;

}
