<div class="container">
  <ul class="nav">
    <li class="nav--item">
      <a
      [routerLink]="['/']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}"> Home
        <div class="circle"></div>
      </a>
    </li>
    <li class="nav--item">
      <a
      [routerLink]="['/about']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}"> Sobre mim
        <div class="circle"></div>
      </a>
    </li>
    <li class="nav--item">
      <a
      [routerLink]="['/abilities']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}"> Habilidades
        <div class="circle"></div>
      </a>
    </li>
    <li class="nav--item">
      <a
      [routerLink]="['/projects']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}"> Projetos
        <div class="circle"></div>
      </a>
    </li>
    <li class="nav--item">
      <a
      [routerLink]="['/contact']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: true}"> Fale Comigo
        <div class="circle"></div>
      </a>
    </li>
  </ul>



</div>
